@model CloudtrixApp.Core.DataModel.ArchitectModel
@{
    ViewBag.Title = "AddArchitect";
}


<div class="wraper container-fluid">
    <div class="page-title">
        <h3 class="title">Architect </h3>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Architect</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("AddArchitect", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(x => x.ArchitectName)
                            @Html.TextBoxFor(x => x.ArchitectName, null, new { @class = "form-control", @placeholder = "Enter Architect Name " })
                            @Html.ValidationMessageFor(x => x.ArchitectName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Description)
                            @Html.TextBoxFor(x => x.Description, null, new { @class = "form-control", @placeholder = "Please Enter Description" })
                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                        </div>

                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>

                            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
                    }
                </div>
            </div>
        </div>

    </div>
</div>


