@model CloudtrixApp.Core.DataModel.ReceiptModel
@{
    ViewBag.Title = "AddReceipt";
}
<link href="~/Content/adminFront/assets/plugins/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

<div class="wraper container-fluid">
    <div class="page-title">
        <h3 class="title">Receipt </h3>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Receipt</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("AddReceipt", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-inline">
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(x => x.ReceiptNumber)
                                    @Html.TextBoxFor(x => x.ReceiptNumber, null, new { @class = "form-control", @placeholder = "Enter Receipt Name " })
                                    @Html.ValidationMessageFor(x => x.ReceiptNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Date">Receipt Date :</label>
                                    @Html.TextBox("ReceiptDate", null, new { @class = "form-control datepicker ", @style = "width:200px", @placeholder = "Select Receipt Date ", autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-inline">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Name"> Customer : </label>
                                        <select id="Customer1" class="">
                                            <option value="">Select Customer</option>
                                        </select>
                                        <small id="error_Customer" class="form-text error_msg col-md-offset-2 "> Customer Name is Required</small>
                                        @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Name"> Project : </label>
                                        <select id="Project" class="">
                                            <option value="">Select Project</option>
                                        </select>
                                        <small id="error_Project" class="form-text error_msg">Select Project from list</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-inline">
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(x => x.Amount)
                                    @Html.TextBoxFor(x => x.Amount, null, new { @class = "form-control", @placeholder = "Amount" })
                                    @Html.ValidationMessageFor(x => x.Amount, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="Status"> Status : </label>
                                        <select id="Status" class="">
                                            <option value="Advance">Advance Payment</option>
                                            <option value="Part">Part Payment</option>
                                            <option value="Full">Full Payment</option>
                                            <option value="Balance">Balance Payment</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(x => x.ReceivedBy)
                                    @Html.TextBoxFor(x => x.ReceivedBy, null, new { @class = "form-control", @style = "width:250px", @placeholder = "Received By" })
                                    @Html.ValidationMessageFor(x => x.ReceivedBy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                                @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
                            </div>

                    }
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script src="~/Content/adminFront/assets/plugins/timepicker/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/bundles/App3")

    <script type="text/javascript">

    </script>
}


