@model IEnumerable<CloudtrixApp.Core.DataModel.EmployeeModel>
@{
    ViewBag.Title = "EmployeeList";
}

<div class="wraper container-fluid">
    <div class="page-title">
        @if (ViewBag.IsAdd != null && ViewBag.IsAdd == true)
        {
            <a href="@Url.Action("AddEmployee", "Admin")" class="btn btn-primary pull-left">Add Employee </a>
            <br />
        }
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Employee List </h3>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-hover" id="datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeEmail)


                                        <th>action</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeEmail)
                                            </td>


                                            <td>
                                                @if (ViewBag.IsAdd != null && ViewBag.IsAdd == true)
                                                {
                                                    <a href="@Url.Action("EditEmployee", "Admin", new { EmployeeId = item.Id })" class="btn btn-icon btn-warning btn-xs m-b-5">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteEmployee", "Admin", new { EmployeeId = item.Id })" onclick="return confirm('Are you sure you want to Remove this Employee?')" class="btn btn-icon btn-danger btn-xs m-b-5">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                    @*<a onclick="alert('Some delete operation has been restricted in demo version')" class="btn btn-icon btn-danger btn-xs m-b-5">
                                                         <i class="fa fa-remove"></i>
                                                        </a>*@
                                                }
                                            </td>

                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
