@model IEnumerable<CloudtrixApp.Core.DataModel.ProjectModel>
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wraper container-fluid">
    <div class="page-title">
        <a href="@Url.Action("AddProject", "Admin")" class="btn btn-primary pull-left">Add Project </a>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Project List </h3>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-hover table-bordered table-responsive" id="datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProjectName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ArchitectModel.ArchitectName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>@Html.DisplayNameFor(model => model.EmployeeIds)</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProjectName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ArchitectModel.ArchitectName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="employeeView" data-id="@item.Id">View</a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditProject", "Admin", new {projectId = item.Id})" class="btn btn-icon btn-warning btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteProject", "Admin", new {projectId = item.Id})" onclick="return confirm('Are you sure you want to Remove this Project?')" class="btn btn-icon btn-danger btn-xs m-b-5">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                                @*<a onclick="alert('Some delete operation has been restricted in demo version')" class="btn btn-icon btn-danger btn-xs m-b-5">
                             <i class="fa fa-remove"></i>
                            </a>*@
                                            </td>

                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="employeeModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body scroll">
                    <div id='employeeView'></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-tgs" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $("#datatable").on("click", ".employeeView", function () {
        var Id = $(this).attr("data-id");
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: "/Admin/employeeView?Id=" + Id,
            contentType: "application/json; charset=utf-8",
            data: "{}",
            datatype: "json",
            success: function (data) {
                $('#employeeView').html(data);
                $('#employeeModal').modal('show');
            },
        });
    });
</script>

<style>
    a {
    color: #337ab7;
    text-decoration: none;
}
</style>